.footer-container {
	background: linear-gradient(135deg, #232526, #414345);
	padding: 10px 200px 0px 200px;
	color: #fff;

	.info-section {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		h3 {
			font-size: 20px;
			color: #00d084;
			margin-bottom: 15px;
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;

			li {
				margin: 10px 0;
				font-size: 12px;
				display: flex;
				align-items: center;
				gap: 4px;

				a {
					color: #00d084;
					text-decoration: none;
					transition: color 0.3s ease;

					&:hover {
						color: #df7a5f;
					}
				}
			}
		}

		.contact-section {
			flex: 1;
			min-width: 250px;
		}

		.social-media-section {
			flex: 1;
			min-width: 250px;
			text-align: center;

			ul {
				display: flex;
				justify-content: center;
				gap: 20px;

				li {
					svg {
						fill: #ccc;
						width: 30px;
						height: 30px;
						transition: fill 0.3s ease, transform 0.3s ease;

						&:hover {
							fill: #00d084;
							transform: scale(1.5);
						}
					}
				}
			}
		}

		.logo-section {
			flex: 1;
			min-width: 100px;
			text-align: center;
			padding: 12px 0px;

			img {
				max-width: 150px;
				height: auto;
				transition: transform 0.3s ease, border-color 0.3s ease;

				&:hover {
					transform: rotate(360deg);
					border-color: #df7a5f;
				}
			}
		}
	}

	.copyright-section {
		border-top: 1px solid whitesmoke;
		p {
			margin: 0;
			padding: 12px 0px;
			font-weight: 200;
			a {
				color: #00d084;
				text-decoration: none;
				transition: color 0.3s ease;

				&:hover {
					color: #df7a5f;
				}
			}
		}
	}
}

//Responsive design
@media (max-width: 425px) {
	.footer-container {
		font-size: 12px;
		padding: 0 24px;

		.info-section {
			display: flex;
			flex-direction: column;
			align-items: center;

			.contact-section,
			.social-media-section {
				display: flex;
				flex-direction: column;
				align-items: center;

				h3 {
					font-size: 18px;
					margin-bottom: 0;
				}

				&__content {
					ul {
						li {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 425px) and (max-width: 768px) {
	.footer-container {
		padding: 0 24px;

		.contact-section,
		.social-media-section {
			display: flex;
			flex-direction: column;
			align-items: center;
			h3 {
				font-size: 20px;
				margin-bottom: 0;
			}

			&__content {
				ul {
					li {
						font-size: 12px;
					}
				}
			}
		}

		.logo-section {
			display: none;
			padding: 12px 0;
		}
	}

	.copyright-section {
		font-size: 12px;
	}
}

@media (min-width: 769px) and (max-width: 1024px) {
	.footer-container {
		padding: 0 64px;

		.contact-section,
		.social-media-section {
			display: flex;
			flex-direction: column;
			align-items: center;
			h3 {
				font-size: 20px;
				margin-bottom: 0;
			}

			&__content {
				ul {
					li {
						font-size: 12px;
					}
				}
			}
		}

		.logo-section {
			padding: 12px 0;
		}
	}

	.copyright-section {
		font-size: 12px;
	}
}
@media (min-width: 1025px) {
	.footer-container {
		padding: 0 64px;

		.copyright-section {
			font-size: 12px;
		}
	}
}
