$primary-color: #00d084;
$secondary-color: #218838;
$background-color: rgba(255, 255, 255, 0.9);
$card-background: #d4edda;
$text-color: #555;
$heading-color: #333;

.services-container {
	padding: 20px 200px;
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;

	.services-title {
		h1 {
			font-size: 32px;
			margin-bottom: 10px;
			color: $heading-color;
		}

		p {
			font-size: 16px;
			// margin-bottom: 32px;
			color: #fff;

			a {
				text-decoration: none;
				color: #fff;
			}

			a:hover {
				color: #333;
			}
		}
	}

	.services-content {
		display: flex;
		gap: 8px;
	}

	.services-content-card {
		background: $background-color;
		border-radius: 10px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
		padding: 20px;
		width: 30%;
		text-align: left;
		display: flex;
		flex-direction: column;
		transition: transform 0.3s, box-shadow 0.3s;

		&:hover {
			transform: translateY(-5px);
			box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
		}

		&__title {
			font-size: 24px;
			font-weight: 700;
			color: #444;
			margin-bottom: 20px;
			text-align: center;
			background: $card-background;
			padding: 8px;
			border-radius: 4px;
		}

		&__content {
			overflow-y: auto;
			max-height: 400px;
			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					margin-bottom: 10px;
					color: $text-color;
					font-size: 16px;
					position: relative;
					padding-left: 20px;

					&::before {
						content: '✔';
						color: $primary-color;
						font-weight: bold;
						position: absolute;
						left: 0;
						top: 2px;
					}
				}
			}
		}

		&__cta {
			margin-top: auto;
			text-align: center;

			.cta-button {
				display: inline-block;
				background: $primary-color;
				color: white;
				text-decoration: none;
				padding: 10px 20px;
				border-radius: 5px;
				font-size: 14px;
				margin-top: 20px;
				text-align: center;
				transition: background-color 0.3s;

				&:hover {
					background: $secondary-color;
				}
			}
		}
	}
}

@media (max-width: 425px) {
	.services-container {
		padding: 12px 24px;
		margin: 0;

		.services-title {
			h1 {
				font-size: 28px;
			}

			p {
				margin-bottom: 16px;
			}
		}

		.services-content {
			display: flex;
			flex-direction: column;

			&-card {
				width: 88%;
			}
		}
	}
}

@media (min-width: 425px) and (max-width: 768px) {
	.services-container {
		padding: 12px 24px;
		margin: 0;

		.services-title {
			h1 {
				font-size: 28px;
			}

			p {
				margin-bottom: 16px;
			}
		}

		.services-content {
			display: flex;
			flex-direction: column;
			align-items: center;

			&-card {
				width: 88%;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.services-container {
		padding: 0;
		margin: 0;
		width: 100%;

		.services-title {
			h1 {
				font-size: 28px;
			}

			p {
				margin-bottom: 16px;
			}
		}

		.services-content {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 12px 0;

			&-card {
				width: 88%;
			}
		}
	}
}
