<div class="services-container">
	<div class="services-title">
		<h1>Hai să te facem remarcat!</h1>
		<p>Alege un pachet care se pliază pe nevoile tale.</p>
		<p>
			Dorești o ofertă personalizată?
			<a
				href="mailto:badarceateodor@gmail.com?subject=Personalizare%20Extra-options&body=Salutare,%20doresc%20mai%20multe%20detalii%20despre%20Extra-options."
				class="cta-button"
				>Apasă aici</a
			>
			pentru a-mi trimite un email și hai să discutăm.
		</p>
	</div>
	<div class="services-content">
		<div class="services-content-card">
			<div class="services-content-card__title">Basic - 800 lei</div>
			<div class="services-content-card__content">
				<p>Un pachet entry-level, perfect pentru cei care au nevoie de o prezență online minimalistă.</p>
				<ul>
					<li>
						<strong>Design optimizat pentru desktop și telefon:</strong> Aspect simplu, dar modern, care
						funcționează perfect pe orice dispozitiv.
					</li>
					<li>
						<strong>Până la 2 pagini:</strong>
						<ul>
							<li>Acasă: O prezentare clară a afacerii.</li>
							<li>Contact: Informații esențiale, precum telefon, email și adresa fizică.</li>
						</ul>
					</li>
					<li><strong>Buton Call-To-Action:</strong> Ex. "Contactează-ne", "Cere o ofertă".</li>
					<li>
						<strong>SEO:</strong> Optimizare pentru motoarele de căutare: titluri, descrieri și structură de
						URL-uri.
					</li>
					<li>
						<strong>Asistență tehnică:</strong> 30 zile pentru orice fel de problemă apărută sau modificare
						dorită.
					</li>

					<li><strong>Timp de livrare:</strong> 3-4 zile.</li>
				</ul>
			</div>
			<div class="services-content-card__cta">
				<a
					href="mailto:badarceateodor@gmail.com?subject=Pachet%20Basic&body=Salutare,%20doresc%20s%C4%83%20achizi%C8%9Bionez%20pachetul%20Basic."
					class="cta-button"
					>Alege Basic</a
				>
			</div>
		</div>
		<div class="services-content-card expandable">
			<div class="services-content-card__title">Standard - 1400 lei</div>
			<div class="services-content-card__content">
				<p>
					Ideal pentru afaceri mici și medii care doresc o prezență online completă și un aspect interactiv.
				</p>
				<ul>
					<li>
						<strong>Design optimizat pentru desktop și telefon:</strong> Aspect simplu, dar modern, care
						funcționează perfect pe orice dispozitiv.
					</li>
					<li>
						<strong>Până la 4 pagini:</strong>
						<ul>
							<li>Paginile pot include Acasă, Despre Noi, Servicii, Contact sau alte variante.</li>
						</ul>
					</li>
					<li>
						<strong>SEO:</strong>
						<ul>
							<li>Optimizare pentru motoarele de căutare: titluri, descrieri și structură de URL-uri.</li>
							<li>Creare și integrare sitemap.</li>
							<li>Configurare pentru încărcarea rapidă a paginii.</li>
							<li>Meta-tag-uri cu descrieri personalizate.</li>
						</ul>
					</li>
					<li>
						<strong>Formular de contact:</strong> Formular configurat să trimită mesajele direct pe emailul
						clientului.
					</li>
					<li>
						<strong>Animații:</strong> Micro-interacțiuni sau efecte de tranziție pentru a face site-ul mai
						atractiv.
					</li>
					<li><strong>Buton Call-To-Action:</strong> Poziționat strategic pentru efect maxim.</li>
					<li>
						<strong>Asistență tehnică:</strong> 30 zile pentru orice fel de problemă apărută sau modificare
						dorită.
					</li>
					<li><strong>Timp de livrare:</strong> 7-10 zile.</li>
				</ul>
			</div>
			<div class="services-content-card__cta">
				<a
					href="mailto:badarceateodor@gmail.com?subject=Pachet%20Standard&body=Salutare,%20doresc%20s%C4%83%20achizi%C8%9Bionez%20pachetul%20Standard."
					class="cta-button"
					>Alege Standard</a
				>
			</div>
		</div>
		<div class="services-content-card">
			<div class="services-content-card__title">Extra-optiuni</div>
			<div class="services-content-card__content">
				<p>Aceste opțiuni adiționale sunt perfecte pentru personalizarea serviciilor:</p>
				<ul>
					<li>
						<strong>Configurare și găzduire domeniu 1 an - 200 lei:</strong> Înregistrarea unui domeniu (ex.
						.ro, .com) și configurarea acestuia. Găzduire pentru primul an.
					</li>
					<li>
						<strong>Indexare website in google - 50 lei</strong>
					</li>
					<li>
						<strong>Adăugare pagină - 150 lei/pagină:</strong> Ideal pentru extinderea site-ului cu pagini
						suplimentare.
					</li>
					<li>
						<strong>Sugestii pt logo - 50 lei/3 logo-uri:</strong> Dacă nu ai inspirație, venim noi cu ea.
					</li>
				</ul>
			</div>
			<div class="services-content-card__cta">
				<a
					href="mailto:badarceateodor@gmail.com?subject=Oferta%20personalizata&body=Salutare,%20doresc%20o%20oferta%20personalizata."
					class="cta-button"
					>Ofertă personalizată</a
				>
			</div>
		</div>
	</div>
</div>
