<div class="contact-container">
	<div class="contact-form-container">
		<h1>Send me a message</h1>
		<form class="contact-form" action="https://formspree.io/f/movqzpzv" method="POST">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" id="name" name="name" placeholder="Enter your name" required />
			</div>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" id="email" name="email" placeholder="Enter your email" required />
			</div>
			<div class="form-group">
				<label for="message">Message</label>
				<textarea id="message" name="message" placeholder="Enter your message" rows="5" required></textarea>
			</div>
			<button type="submit" class="submit-btn">Send Message</button>
		</form>
	</div>
	<div class="contact-social-media">
		<h1>Other ways to get in touch with me:</h1>
		<ul>
			<li>
				Feel free to drop me a message anytime at
				<a href="mailto:badarceateodor@gmail.com">badarceateodor&#64;gmail.com</a>. I'll get back to you as
				soon as possible.
			</li>

			<li>
				Let's collaborate! Find me on
				<a href="https://www.linkedin.com/in/teodorbadarcea/" target="_blank">LinkedIn</a> and let’s make
				amazing things happen.
			</li>
			<li>
				Curious about what I do outside of work? Follow me on
				<a href="https://www.instagram.com/rrrodoet" target="_blank">Instagram</a>. You can also message me
				there.
			</li>
		</ul>
	</div>
</div>
