.hero {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #333;
	text-align: center;
	padding: 0 100px;
}

.hero-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	max-width: 1200px;
	width: 100%;
	padding: 20px;
}

.text-container {
	max-width: 700px;
	margin-right: 30px;
	letter-spacing: 2px;
}

.hero h1 {
	font-size: 44px;
	margin-bottom: 20px;
	color: #2a3d29;
}

.hero p {
	font-size: 18px;
	margin-bottom: 30px;
	color: #435d3a;
}

.cta-button {
	padding: 12px 25px;
	font-size: 20px;
	letter-spacing: 2px;
	font-weight: 300;
	text-decoration: none;
	background-color: #99bc85;
	color: #333;
	border-radius: 40px 4px 40px 4px;
	border: none;
	transition: background-color 0.3s ease;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cta-button:hover {
	background-color: #89a773;
}

.image-container {
	flex: 1;
	text-align: center;

	img {
		max-width: 100%;
		height: auto;
		border-radius: 100px 10px 100px 10px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	}
}
