.container-content {
	background: linear-gradient(135deg, #1e5a46, #74a96b, #c1d1b2);
	background-size: 200% 200%;
	animation: gradientShift 6s ease infinite;
	display: flex;
	justify-content: center;
	min-height: 100vh;
}

@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
