<header class="header">
	<nav aria-label="Primary Navigation" class="navigation">
		<div class="logo-container">
			<img src="logo-transparent.png" alt="logo bmtDEV" class="logo" routerLink="/" />
		</div>
		<ul class="nav-links" [ngClass]="{ active: menuOpen }">
			<li><a routerLink="/home" aria-label="Homepage">Acasă</a></li>
			<li><a routerLink="/services" title="Learn more about our services">Servicii</a></li>
			<li><a routerLink="/portfolio" aria-label="View our portfolio">Proiecte</a></li>
			<li><a routerLink="/contact" aria-label="Contact us for inquiries">Fă-te remarcat</a></li>
		</ul>
		<div class="hamburger-menu" (click)="toggleMenu()">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>
</header>
