.header {
	background-color: #ffffff;
	padding: 10px 200px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.logo-container {
	flex: 1;
}

.logo {
	max-width: 150px;
	border-radius: 40px 10px;
	border: 2px solid #00d084;
}

.nav-links {
	display: flex;
	gap: 20px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-links li {
	font-size: 18px;
}

.nav-links a {
	color: #333;
	text-decoration: none;
	padding: 8px 16px;
	transition: color 0.3s ease;
}

.nav-links a:hover {
	color: #df7a5f;
}

.hamburger-menu {
	display: none;
	flex-direction: column;
	gap: 5px;
	cursor: pointer;
}

.hamburger-menu .bar {
	width: 30px;
	height: 3px;
	background-color: #333;
	border-radius: 5px;
}

.hamburger-menu.active .bar:nth-child(1) {
	transform: rotate(45deg);
	transform-origin: top left;
}

.hamburger-menu.active .bar:nth-child(2) {
	opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
	transform: rotate(-45deg);
	transform-origin: bottom left;
}

//Responsive design
@media (max-width: 425px) {
	.header {
		padding: 8px 24px;
		display: flex;

		.navigation {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
		}

		.nav-links {
			display: none;
			flex-direction: column;
			align-items: end;
			text-align: right;
			width: 100%;
			gap: 4px;
			padding: 0;
			font-size: 12px;

			li {
				a {
					font-size: 14px;
				}
			}
		}

		.nav-links.active {
			display: flex;
		}

		.hamburger-menu {
			display: flex;
			position: absolute;
			right: 0px;
			top: 15px;
		}

		.logo-container {
			img {
				width: 120px;
				height: auto;
			}
		}
	}
}
